<div class="p-2 sm:p-2" style="overflow-y: auto; max-height: 600px;">
    <div>
        <fuse-alert
            class="mt-8"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>
        <form class="flex flex-col px-10 pt-12 overflow-hidden" [formGroup]="branchForm">
            <p class="text-lg font-medium">Registra la tua attività</p>
            <p class="text-secondary mb-6">
                Ciao {{user.name}}, una volta registrata la tua attività potrai utilizzare il servizio di prenotazione tavoli
            </p>

            <div class="flex">
                <mat-form-field class="flex-auto">
                    <input
                        id="name"
                        matInput
                        [formControlName]="'name'"
                        [placeholder]="'Nome attività'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:star'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <input
                        id="address"
                        [formControlName]="'address'"
                        matInput [placeholder]="'Indirizzo'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <input
                        id="phone"
                        [formControlName]="'phone'"
                        matInput [placeholder]="'Phone'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <input
                        id="email"
                        [formControlName]="'email'"
                        matInput [placeholder]="'Email'">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-radio-group [formControlName]="'type'">
                    <mat-radio-button value="RESTAURANT" [checked]="true">Ristorante</mat-radio-button>
                    <mat-radio-button value="SUPPLIER">Fornitore</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-divider class="mt-6 mb-10"></mat-divider>

            <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button mat-button (click)="onCancelClick()">Cancel</button>
                <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="onSaveClick()">Save</button>
            </div>
        </form>
    </div>
</div>
