<div class="flex flex-col flex-auto w-200 p-2 md:p-4" [formGroup]="branchTimeForm">
    <div class="text-center mb-2">
        Configura Orario Apertura {{ branchTimeRangeDTO.dayOfWeek }}
    </div>
    <div class="text-center mb-2" style="padding-bottom: 20px">
        <mat-button-toggle-group [(ngModel)]="selectedDays" multiple [ngModelOptions]="{standalone: true}">
            <mat-button-toggle *ngFor="let day of days" [value]="day">
                {{ day.charAt(0) }}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="flex flex-col text-center mb-2 items-center snap-center" style="overflow-y: auto; max-height: 300px;">
        <div class="mb-2" style="padding-top: 5px; margin-bottom: 10px;">
            <div *ngFor="let timeRange of branchTimeRangeDTO.timeRanges; let i = index" class="mb-2">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Ora apertura</mat-label>
                    <input type="time" matInput placeholder="Ora Apertura" [formControlName]="'openingTime' + i">
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Ora chiusura</mat-label>
                    <input type="time" matInput placeholder="Ora Chiusura" [formControlName]="'closingTime' + i">
                    <mat-error *ngIf="branchTimeForm.get('closingTime' + i).hasError('invalidClosingTime')">
                        Ora chiusura precedente a ora apertura
                    </mat-error>
                </mat-form-field>
                <button mat-icon-button (click)="removeTimeRange(i)">
                    <mat-icon [svgIcon]="'heroicons_outline:minus'"></mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-button-toggle (click)="addTimeRange()">
        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
        Aggiungi fascia oraria
    </mat-button-toggle>
    <div style="padding-bottom: 5px"></div>
    <mat-button-toggle (click)="saveConfiguration()" value="weekopening" [disabled]="branchTimeForm.invalid">
        <mat-icon [svgIcon]="'heroicons_outline:clock'"></mat-icon>
        Salva
    </mat-button-toggle>
</div>
