<div class="w-full h-full flex items-center justify-center">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16 bg-white shadow-md rounded-md">
        <div class="w-full max-w-180 sm:w-180 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12 mx-auto mb-4">
                <img src="assets/images/logo/logo.png" alt="Logo">
            </div>

            <!-- Title -->
            <div class="text-center text-4xl font-extrabold tracking-tight leading-tight">Prenota un tavolo</div>

            <!-- Unlock form -->
            <form class="flex flex-col overflow-hidden" [formGroup]="reservationForm">
                <div class="flex items-center justify-center mb-4">
                    <mat-form-field class="flex-auto" style="width: 15%; padding-right: 10px; padding-top: 10px;">
                        <mat-select [formControlName]="'phonePrefix'" placeholder="Prefix">
                            <mat-option value="+39">+39</mat-option>
                            <mat-option value="+44">+44</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="flex-auto" style="width: 85%; padding-top: 10px;">
                        <input id="phone" matInput [formControlName]="'phone'" [placeholder]="'Cellulare'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-center mb-4">
                    <mat-form-field class="flex-auto" style="width: 100%;">
                        <input id="phone1" matInput [formControlName]="'phone'" [placeholder]="'Cellulare'">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                    </mat-form-field>
                </div>
                {{branchCode}}
            </form>
        </div>
    </div>
</div>
