<div class="flex flex-col flex-auto min-w-0">
    <div *ngIf="this.currentBranch?.branchCode">

        <div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

            <mat-drawer-container class="flex-auto sm:h-full">
                <!-- Drawer -->
                <mat-drawer
                    class="sm:w-72 dark:bg-gray-900"
                    [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #drawer>
                    <div class="flex items-center justify-between m-4 mr-2 sm:my-5">
                        <!-- Title -->
                        <div class="text-lg font-extrabold tracking-tight leading-none">{{this.currentBranch?.name}}</div>
                        <!-- Close button -->
                        <div class="lg:hidden">
                            <button
                                mat-icon-button
                                (click)="drawer.close()">
                                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- Panel links -->
                    <div class="flex flex-col divide-y border-t border-b">
                        <ng-container *ngFor="let panel of panels; trackBy: trackByFn">
                            <div
                                class="flex px-6 py-4 cursor-pointer"
                                [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedPanel || selectedPanel !== panel.id,
                                    'bg-primary-50 dark:bg-hover': selectedPanel && selectedPanel === panel.id}"
                                (click)="goToPanel(panel.id)">
                                <mat-icon
                                    [ngClass]="{'text-hint': !selectedPanel || selectedPanel !== panel.id,
                                        'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}"
                                    [svgIcon]="panel.icon"></mat-icon>
                                <div class="ml-2">
                                    <div
                                        class="font-medium leading-5 text-sm"
                                        [ngClass]="{'text-primary dark:text-primary-500': selectedPanel && selectedPanel === panel.id}">
                                        {{panel.title}}
                                    </div>
                                    <div class="mt-0.5 text-xs text-secondary">
                                        {{panel.description}}
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </mat-drawer>

                <!-- Drawer content -->
                <mat-drawer-content class="flex flex-col">

                    <!-- Main -->
                    <div class="flex-auto px-4 pt-6 pb-8 md:p-4 md:pb-8 lg:p-8">

                        <!-- Panel header -->
                        <div class="flex items-center">

                            <!-- Drawer toggle -->
                            <button
                                class="lg:hidden -ml-1"
                                mat-icon-button
                                (click)="drawer.toggle()">
                                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
                            </button>
                        </div>

                        <div class="mt-4">
                            <ng-container [ngSwitch]="selectedPanel">
                                <!-- Account -->
                                <ng-container *ngSwitchCase="'booking'">
                                    <booking-dashboard></booking-dashboard>
                                </ng-container>
                                <!-- Security -->
                                <ng-container *ngSwitchCase="'security'">
                                    <settings-security></settings-security>
                                </ng-container>
                                <!-- Notifications -->
                                <ng-container *ngSwitchCase="'notifications'">
                                    <settings-notifications></settings-notifications>
                                </ng-container>
                                <!-- Team -->
                                <ng-container *ngSwitchCase="'team'">
                                    <settings-team></settings-team>
                                </ng-container>
                            </ng-container>
                        </div>

                    </div>

                </mat-drawer-content>

            </mat-drawer-container>

        </div>
    </div>
</div>
