<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-2 md:p-2">

        <div *ngIf="restaurantConfigurationDTO == null
            || (restaurantConfigurationDTO?.waApiConfigDTO?.instanceStatus!='success'); else elseBlock">
            <div class="flex flex-col w-full">
                <div class="mb-2">
                    <h2 class="text-xl font-semibold tracking-tight leading-6">Prenotazioni</h2>
                    <div class="font-medium tracking-tight text-secondary text-xs">
                        Configura un numero what's app per iniziare ad utilizzare il servizio prenotazione
                    </div>
                </div>
                <div *ngIf="remainingSeconds>1">
                    <img [src]="qrCodeImage" alt="Base64 Image" style="height: 150px; width: 150px; object-fit: cover;">
                </div>
                <div *ngIf="remainingSeconds>1">
                    <div class="font-medium tracking-tight text-secondary text-xs">
                        Associa il tuo dispositivo scannerizzando il qr code tramite What's App. Il qr code ha validità di {{remainingSeconds}} secondi.
                    </div>
                </div>
                <div class="flex items-center">
                    <button
                        class="fuse-mat-button-large mt-4"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="buttonConfigurationClick"
                        (click)="configureNumber()">
                        <mat-icon [svgIcon]="'heroicons_outline:qr-code'"></mat-icon>
                        <span *ngIf="!buttonConfigurationClick" style="margin-left: 3px; font-size: 12px;">Ottieni il Qr Code</span>
                        <mat-progress-spinner
                            *ngIf="buttonConfigurationClick"
                            [diameter]="20"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="flex flex-col shadow bg-card w-full rounded-xl mt-2">
                <div class="flex flex-col flex-0 lg:flex-row items-center max-w-7xl w-full mx-auto px-4 lg:h-12 bg-card">
                    <div class="-mt-20 lg:-mt-18 rounded-full">
                        <img
                            class="w-20 h-20 rounded-full ring-2 ring-bg-card"
                            src="{{this.restaurantConfigurationDTO?.waApiConfigDTO?.profilePicUrl}}"
                            alt="User avatar">
                    </div>

                    <!-- Separator -->
                    <div class="hidden lg:flex h-4 mx-4 border-l-2"></div>

                    <!-- Stats -->
                    <div class="flex items-center mt-2 lg:mt-0 space-x-2 flex-grow">

                        <div class="flex flex-col items-center">
                            <span class="font-bold text-xs">ATTIVITA'</span>
                            <span class="text-xxs text-secondary">{{this.currentBranch?.name}}</span>
                        </div>


                        <div class="hidden lg:flex h-4 mx-4 border-l-2"></div>
                        <div class="flex flex-col items-center">
                            <span class="font-bold text-xs">ADMIN</span>
                            <span class="text-xxs text-secondary">{{this.restaurantConfigurationDTO?.waApiConfigDTO?.displayName}}</span>
                        </div>


                        <div class="hidden lg:flex h-4 mx-4 border-l-2"></div>

                        <div class="flex flex-col items-center">
                            <span class="font-bold text-xs">STATO</span>
                            <span class="text-xxs text-secondary">{{this.restaurantConfigurationDTO?.waApiConfigDTO?.instanceStatus}}</span>
                        </div>
                        <!-- Separator -->
                        <div class="hidden lg:flex h-4 mx-4 border-l-2"></div>


                        <div class="flex flex-col items-center">
                            <span class="font-bold text-xs">CELLULARE</span>
                            <span class="text-xxs text-secondary">{{this.restaurantConfigurationDTO?.waApiConfigDTO?.formattedNumber}}</span>
                        </div>
                        <div class="hidden lg:flex h-4 mx-4 border-l-2"></div>


                        <div class="flex flex-col items-center">
                            <span class="font-bold text-xs">EMAIL</span>
                            <span class="text-xxs text-secondary">{{this.restaurantConfigurationDTO?.waApiConfigDTO?.owner}}</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="flex flex-col w-full mt-2">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header class="flex items-center justify-between">
                            <mat-icon [svgIcon]="'mat_outline:settings'"></mat-icon>
                            <mat-panel-description>
                                Configura apertura
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <configure-opening></configure-opening>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-icon [svgIcon]="'heroicons_outline:calendar-days'"></mat-icon>
                            <mat-panel-description>
                                Prenotazioni
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ng-template>
    </div>
</div>
